<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= startingContent %></p>

<% console.log(posts) %>

<% posts.forEach(post => { %>
<h1><%= post.recipeTitle %></h1>
<p><%= post.recipeIngredients %></p>

<p>
    <%= post.recipeDirections.substring(0,100) + "..." %>
    <a href="/posts/<%=post.recipeTitle%>">Read more</a>
</p>

<% }); %>

<a href="http://localhost:3000/compose" class="btn btn-info">Create</a>




<%- include("partials/footer") -%>